<div class="container">
 
  <mat-card class="class-card">
    <span style="text-shadow:1px 1px 0 #444;font-size:140%;">Add Class</span>


    <form class="example-form">
       
        <p>Select Class</p>
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="class">I</mat-option>
          <mat-option value="class">II</mat-option>
          <mat-option value="class">III</mat-option>
          <mat-option value="class">IV</mat-option>
          <mat-option value="class">V</mat-option>
          <mat-option value="class">VI</mat-option>
          <mat-option value="class">VII</mat-option>
          <mat-option value="class">VIII</mat-option>
          <mat-option value="class">IX</mat-option>
          <mat-option value="class">X</mat-option>
          <mat-option value="class">XI</mat-option>
          <mat-option value="class">XII</mat-option>
        </mat-select>
      </mat-form-field>
      
      <p>Add Section</p>
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="Section">A</mat-option>
              <mat-option value="Section">B</mat-option>
              <mat-option value="Section">C</mat-option>
              <mat-option value="Section">D</mat-option>
              <mat-option value="Section">E</mat-option>
              <mat-option value="Section">F</mat-option>
              <mat-option value="Section">G</mat-option>
              <mat-option value="Section">H</mat-option>
              <mat-option value="Section">I</mat-option>
              <mat-option value="Section">J</mat-option>
              <mat-option value="Section">K</mat-option>
              <mat-option value="Section">L</mat-option>
              <mat-option value="Section">M</mat-option>
              <mat-option value="Section">N</mat-option>
              <mat-option value="Section">O</mat-option>
              <mat-option value="Section">P</mat-option>
              <mat-option value="Section">Q</mat-option>
              <mat-option value="Section">R</mat-option>
              <mat-option value="Section">S</mat-option>
              <mat-option value="Section">T</mat-option>
              <mat-option value="Section">U</mat-option>
              <mat-option value="Section">V</mat-option>
              <mat-option value="Section">W</mat-option>
              <mat-option value="Section">X</mat-option>
              <mat-option value="Section">Y</mat-option>
              <mat-option value="Section">Z</mat-option>

            </mat-select>
          </mat-form-field>
         <a routerLinkActivate="active" [routerLink]="['/teacher']"><button mat-flat-button>Submit</button></a> 
          
        
      </form>
    

  </mat-card>
</div>
